
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
  margin:0; 
  padding:0; 
  box-sizing:border-box;
}

header{
  padding:1em;
  background-color: #eaeaea;
  position: fixed;
  width:100;
  top:0;
  left:0;
}

#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%;
  z-index: -1;
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,0.3785889355742297) 48%), url(../images/noodle.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  filter:grayscale(30%) blur(.5px);
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

body {
  color:#FFFFFF;
  font-family: 'Lato', sans-serif;
  line-height: 1.3;
}

nav {
  font-family: 'Arvo', serif;
}

nav a{
  text-decoration:none;
  color:#000000;
  margin:0 1em 0 0;
  background-color: #EAEAEA;
  text-decoration: none;
  display:block;
  padding: 10px;
  float:left;
}


a{
  color: white;
  text-decoration: none;
  display:block;
  padding: 10px;
  float:left;
}

nav a:hover {
  background-color:#D21929;
}

a:hover {
  background-color:#D21929;
}

.deals{
  float: left;
  width: 100%;
  padding: 5em;
  border: 10px solid white;
  min-height:2em;

}

.column   {
  float: left;
  width:33.33%;
  min-height: 35em;
  padding: 3em;
  border: 10px solid white;
}

.description {
  float: left;
  width: 100%;
  padding: 5em;
  border: 10px solid white;
  min-height:2em;
}

.description1 {

}

.contact {
  float: left;
  width:25%;
  min-height: 15em;
  padding: 3em;
  border: 10px solid white;
}

#ourmains {
  background-color:#403F45;
  z-index: 1;
}

#addons {
  background-color: #403F45;
}

#beverages{
  background-color: #403F45;
}

#history{
  background-color: #403F45;
  text-align:center;
}

#deals1 { 
  background-color: #403F45;
 }

#deals2 { 
  background-color: #403F45;
 }

#deals3 { 
  background-color: #403F45;
 }

#social{
  background-color:#403F45;
}

#address{
  background-color:#403F45;
}

#number{
  background-color:#403F45;
}

#email{
  background-color:#403F45;
}


.clearfix:after {
  visibility: hidden;
  display:block;
  font-size: 0;
  content: " ";
  clear:both;
  height: 0;
}

img {
  display: block;
  margin: 0 auto;
  width: 720px;
} 

.socialmedia {
  display: block;
  margin: 0 auto;
  width: 40px;
  display:inline-block;

}

h1{
  font-size: 3em;

}

h2{
  font-size: 2em;
  color:#D21929;
}

h3{
  font-size: 1.5em;
  color:#D21929;

}

h4{
  font-size: 1em;
  color:#D21929;

}

p{
  font-size:1em;

}

.title{
  font-size: 2.5em;

}


ul {
  list-style: none;
}

.mains li {
  margin:1em 0;
}

.mains h4{
  float: left;
  padding:.5rem 0;
  text-transform:uppercase;
}

.addon h4{
  float: left;
  padding:.5rem 0;
  text-transform:uppercase;
}

.addon li {
  margin:1em 0;
}

.beverage h4{
  float: left;
  padding:.5rem 0;
  text-transform:uppercase;
}

.beverage li {
  margin:1em 0;
}

.price{
  float: right;
  padding:.5rem;
}

.description1{
  clear: both;
  border-top:2px solid;
  padding:.5rem 0;
}

